<div class="interests">
    <div id="Interests_bar">
        <h4>
            Your Interests are: 
            <button class="glyphicon glyphicon-edit pull-right" data-target="#interestsModal" data-toggle="modal"></button> 
        </h4> 
    </div>
    <ul class="list-group interests_box">
        <div ng-repeat="interest in userList[0].userInterests | filter:{value:true}">
            <li class="list-group-item">{{interest.Interest}}</li>
            <div ng-repeat="subinterest in interest.subInterests | filter:{value:true}">
                <li class="list-group-item">{{subinterest.Interest}} {{subinterest.value}}</li>
            </div>
        </div>
    </ul>
    <div style="width: 33%">
        <h4 style="padding-bottom: 10px">{{userList[0].firstName}} progress overview:</h4>
        <div id="myProgress">
            <div id="myBar">{{userList[0].progress + "%"}}</div>
        </div>
        <br>
        {{setProg()}}
    </div>

    <div class="modal" id="interestsModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Interests:</h4>
                </div>
                
                <div class="modal-body">
                   <ul class="list-group" style="width: 50%">
                       <div ng-repeat="interest in userList[0].userInterests" ng-click="setInterests(interest); toggle(interest)"> <!-- setInterests vai tornar o value verdadeiro/falso quando há clique -->
                            <li class="list-group-item" ng-class="{'select-on' : interest.value, 'select-off' : !interest.value}">{{interest.Interest}} {{interest.value}}</li>
                            <div ng-repeat='subinterest in interest.subInterests' ng-show='interest.state' ng-click='$event.stopPropagation(); setInterests(subinterest)'>
                                <li class="list-group-item" ng-class="{'select-on' : subinterest.value, 'select-off' : !subinterest.value}">{{subinterest.Interest}} {{subinterest.value}}</li>
                            </div>
                       </div>
                    </ul>
                </div>
                
                <div class="modal-footer">
                    <button class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
                
            </div>
        
        </div>
    
    </div>


</div>