<div ng-controller="ClassesListController">

    <div ng-if="true">
        <div ng-include="'views/partialsExercises/exType1.html'"></div>
    </div>
    <!-- lista com exercicios completos onde guarda T ou F. ng-if vai buscar esses valores de modo a carregar ou nao os templates-->

    <div ng-if="classesList[0].complete === true">
        <div ng-include="'views/partialsExercises/exType2.html'"></div>
    </div>

    <div ng-if="classesList[1].complete === true">
        <div ng-include="'views/partialsExercises/exType3.html'"></div>
    </div>

    <div ng-if="true">
        <div ng-include="'views/partialsExercises/exType4.html'"></div>
    </div>
    
    <div ng-if="true">
        <div ng-include="'views/partialsExercises/exType5.html'"></div>
    </div>

</div>
